<%= form_for [@product, @bug] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :priority %><br>
    <%= f.text_field :priority %>
  </p>
  <p>
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :reporter %><br>
    <%= f.text_field :reporter %>
  </p>
  <%= f.submit %>
<% end %>
