<div id='bug'>
  <h2>Bug Title: <%= @bug.title %></h2>
  <span id='author'>Bug filed by <%= @bug.user.email %></span>
  <p><b>Bug Description:</b> <%= simple_format(@bug.description) %></p>
  <p><b>Priority:</b> <%= @bug.priority %></p>
  <p><b>Status:</b> <%= @bug.status %></p>
  <p><b>Reporter:</b> <%= @bug.reporter %></p>
  <%= link_to "Edit Bug", [:edit, @product, @bug] %><br>
  <%= link_to "Delete Bug", [@product, @bug], :method => :delete,
       :confirm => "Are you sure you want to delete this bug?" %>
</div>
