<div id='bug'>
  <h2><%= @bug.title %></h2>
  <%= link_to "Edit Bug", [:edit, @product, @bug] %>
  <%= simple_format(@bug.description) %>
  <%= @bug.priority %>
  <%= @bug.status %>
  <%= @bug.reporter %>
</div>
