<div id='bug'>
  <h2>Bug Title: <%= @bug.title %></h2>
  <span id='author'>Bug filed by <%= @bug.user.email %></span>
  <p>Bug Description: <%= simple_format(@bug.description) %></p>
  <p>Priority: <%= @bug.priority %></p>
  <p>Status: <%= @bug.status %></p>
  <p>Reporter: <%= @bug.reporter %></p>
  <%= link_to "Edit Bug", [:edit, @product, @bug] %><br>
  <%= link_to "Delete Bug", [@product, @bug], :method => :delete,
       :confirm => "Are you sure you want to delete this bug?" %>
</div>
